@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

body {
	background-image: url("../Assets/background.jpg");
}

main#root {
	&.blur::before {
		content: "";
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		backdrop-filter: blur(15px);
		pointer-events: none;
		user-select: none;
	}
}
