div.overlay {
	border: black solid 40px;
	border-radius: 70px;
	height: calc(100vh + 40px);
	width: calc(100vw + 40px);
	left: -20px;
	top: -20px;
	position: absolute;

	.overlayBackground {
		background-color: black;
		opacity: 0.7;
		height: 100%;
		width: 100%;
	}
}
