* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../Assets/background.jpg");
}

.stage {
  margin:0 auto;
  background: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  text-shadow: black 5px 5px 10px;
  box-shadow: none;
}

.mazeContainer {
  margin: 0 auto;
  height: 90%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  padding: 0;
}
#mazeCanvas{
  height: 100%;
  border-radius: 20px;
}

.mazeContainer #mazeCanvas{
  border: 2px solid black;
}

button{
  margin: 0;
  padding: 0;
  font-weight: bold;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin: 0 auto;
  width: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.arrowUpDown{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: none;
  box-shadow: none;
  margin: 0;
}

button>img{
  width: 60px;
  height: 60px;
}

